{% extends "layout.html" %} {% block body %}
<div class="turpenscape-wrapper">
    <a href="https://github.com/Xaviju/turpenscape"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div class="turpenscape-container">
        <section class="turpenscape-info">
            <h1>Turpenscape</h1>
            <h2>Generate Inkscape palettes from your images</h2>
            <ul class="links">
                <!-- <li>
                    <a href="{{ url_for('palettes') }}" title="Get palettes">
                        <span>Palettes from famous paintings</span>
                    </a>
                </li> -->
                <li>
                    <a href="https://github.com/Xaviju/turpenscape" target="_blank">
                        <span>Fork on github</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Xaviju/turpenscape" target="_blank">
                        <span>How to install palettes</span>
                    </a>
                </li>
            </ul>
        </section>
        <section class="turpenscape-form">
            <header>
                <span>Generate Palette</span>
            </header>
            <ul class="nav-generator">
                <li>
                    <a title="Generate Palette from image" href="#" class="generate-from-image selected">Upload Image</a>
                </li>
                <li>
                    <a title="Generate Palette from URL" href="#" class="generate-from-url">From URL</a>
                </li>
            </ul>
            <div class="palette-form-wrapper">
                <form method="post" enctype="multipart/form-data" class="form-file active">
                    <fieldset>
                        <label for="palette_name">Palette Name</label>
                        <input placeholder="MyAwesomePaletteName" id="palette_name" type="text" name="palette_name" required>
                    </fieldset>
                    <fieldset>
                        <label for="palette_file">Image</label>
                        <input id="palette_file" type="file" name="file" required>
                    </fieldset>
                    <input type="submit" value="Get Palette!">
                </form>
                <form method="post" class="form-url">
                    <fieldset>
                        <label for="palette_name">Palette Name</label>
                        <input placeholder="MyAwesomePaletteName" id="palette_name" type="text" name="palette_name" required>
                    </fieldset>
                    <fieldset>
                        <label for="palette_file">URL</label>
                        <input id="palette_url" type="url" name="palette_url" required>
                    </fieldset>
                    <input type="submit" value="Get Palette!">
                </form>
            </div>
        </section>
    </div>
    <footer>
        <a href="https://www.flickr.com/photos/144370781@N07/" target="_blank">
            Background image courtesy of <strong>rpalesca</strong>
        </a>
    </footer>

</div>
{% endblock %}
