<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>Upload new File</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="palette_name" required>
        <input type="file" name="file" required>
        <input type="submit" value="Upload">
    </form>
</body>

</html>
